<%= bootstrap_form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name %>
    <%= f.uneditable_input :provider %>
    <%= f.uneditable_input :uid %>
    <%= f.check_box :admin, :label => 'Administrator' %>
    <% unless @user.admin? %>
        <%= f.check_box :is_blocked, :label => 'Blocked' %>
    <% end %>

    <%#= bootstrap_fields_for(@identity) do |i| %>
        <%#= i.text_field :email %>
        <%#= i.password_field :password %>
        <%#= i.password_field :password_confirmation %>
    <%# end %>

    <%= f.submit %>

<% end %>
